In [6]:
import pandas as pd

In [7]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

ratings = pd.merge(movies,ratings).drop(['genres','timestamp'],axis=1)  # merging two dataframes(movies & ratings)

ratings

        movieId title  userId  rating
0          4294     5     325     3.0
1          4294     5     377     5.0
2         71057     9      15     4.0
3         71057     9     111     1.5
4         71057     9     125     4.0
...         ...   ...     ...     ...
100238     5899  Zulu     140     3.0
100239     5899  Zulu     310     5.0
100240     5899  Zulu     380     5.0
100241     5899  Zulu     474     3.0
100242   116207  Zulu     448     1.5

[100243 rows x 4 columns]

In [8]:
user_ratings1 = ratings.pivot_table(index=['userId'], columns=['title'], values='rating')

user_ratings1

title,'71,'Round Midnight,'Salem's Lot,'Til There Was You,'Tis the Season for Love,'night Mother,(500) Days of Summer,00 Schneider - Jagd auf Nihil Baxter,1-900,10,...,Zoolander,Zoolander 2,Zoom,Zootopia,Zulu,[REC],anohana The Flower We Saw That Day - The Movie,eXistenZ,xXx,xXx State of the Union
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,...,4.0,NaN,NaN,4.0,NaN,4.0,NaN,NaN,2.0,1.5

In [9]:
# Let's Remove Movies which have less than 10 users who rated it. and fill remaining NaN with 0
user_ratings1 = user_ratings1.dropna(thresh=5,axis=1).fillna(0)        # dropna(thresh=5, axis=1) --> yesko kaam vaneko,  jun column (i.e movie) ma 5 vanda kam users le rating deko xa.. testo column (axis=1 vannale column bujinxa) lai drop gar vaneko  & again,  fillna(0) ko kaam vaneko column drop gari sake paxi jati column bachxa .. bacheko column ma pani NaN value tw huna saki halxa.. so tyo NaN value lai 0 le replace garni vaneko..  

user_ratings1

title,(500) Days of Summer,10,10 Cloverfield Lane,10 Things I Hate About You,101 Dalmatians,102 Dalmatians,12 Angry Men,12 Years a Slave,127 Hours,13 Going on 30,...,Zero Effect,Zodiac,Zombieland,Zoolander,Zootopia,Zulu,[REC],eXistenZ,xXx,xXx State of the Union
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.5,3.5,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,3.5,0.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,5.0,3.5,4.0,4.0,0.0,4.0,0.0,2.0,1.5

In [10]:
# everything in single line

# user_ratings2 = ratings.pivot_table(index=['userId'], columns=['title'], values='rating').dropna(thresh=5,axis=1).fillna(0)

# user_ratings2